.example-element {
  width: 100px;
  height: 100px;
  background-color: rgb(103, 103, 129);
}

@media (max-width: 768px) {
  .example-element {
    width: 50px;
    height: 50px;
    background-color: rgb(129, 96, 96);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  /* Use the desired font name in your CSS styles */
}

/* Meeting Minutes section styles */
#MeetingMinutes {
  border-style: solid;
  border-width: 2px;
  border-color: #d6a9a9;
}

#MeetingMinutes h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1em;
}

#MeetingMinutes hr {
  border: 0;
  border-top: 1px solid #333;
}

/* Header styles */
header {
  padding: 1em;
}

header h1 {
  color: rgb(151, 90, 212);
}

header div {
  background-color: #a67dbd;
}

header h2 {
  margin: 0;
  padding: 1em;
}

header hr {
  margin: 0;
  border: none;
  border-top: 1px solid #333;
}

nav {
  padding: 1em;
}

nav ol {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1em;
}

nav a {
  text-decoration: none;
  color: #000;
}

main {
  padding: 1em;
}

.section {
  border-style: solid;
  border-width: 2px;
  padding: 1em;
}

.section h2 {
  color: #cb9aa8;
  text-decoration: underline;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1em;
}

.section p {
  color: #333;
  text-decoration: none;
  text-align: left;
}

.description {
  font-style: italic;
  color: #333;
}

/* Agenda styles */
#agenda ul {
  list-style-type: none;
  padding: 0;
}

#agenda li {
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  color: #fff;
}

#agenda li:nth-child(1) {
  height: 50px;
  width: 100px;
  background-color: rgb(236, 165, 107);
}

#agenda li:nth-child(2) {
  max-width: 200px;
  background-color: rgb(111, 176, 163);
}

#agenda li:nth-child(3) {
  min-width: 150px;
  background-color: rgb(150, 150, 248);
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
}
/* CSS for the survey container */
#survey-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* CSS for the survey form */
#survey-form {
  margin-top: 20px;
}

/* CSS for the form elements */
form p {
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

